/* Variables */
:root {
    --red: #CC0000;
    --off-white: #F3F3F3;
    --grey: #CED3DC;
    --black: #2D2D2A;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body, html {
    position: relative;
    width: 100% !important;
    min-width: 320px;
    max-width: 100%;
    margin: 0px;
    color: #2D2D2A;
    font-family: Montserrat;
    -webkit-overflow-scrolling: touch; /* Flick scrolling for iPhones */
    scroll-behavior: smooth;
}

@media only screen and (min-width: 760px)  {
    body::-webkit-scrollbar {
        width: 1em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: white;
    }

    body::-webkit-scrollbar-thumb {
      background-color: #CED3DC;
      outline: 1px solid slategrey;
    }
}

.theme-picker {
    margin-left: -120px;
    -webkit-transition: margin-left .5s; /* Safari */
    transition: margin-left .5s;
}

.active-theme-picker {
    margin-left: 0px;
}

.active-theme-picker #theme-pullout {
    transform: rotate(180deg);
}

#theme-pullout {
    position: fixed;
    bottom: 10px;
    left:10px;
    color: rgba(244, 244, 244, .06);
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: transform .5s; /* Safari */
    transition: transform .5s;
}

.color-ball {
    position: fixed;
    margin: 50px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 100;
}

.theme-1 {
    background-color: #CC0000;
    border: 3px solid #FFFFFF;
}

.theme-2 {
    margin-top: 120px;
    background-color: #F3F3F3;
    border: 3px solid #CC0000;
}

.theme-3 {
    margin-top: 190px;
    background-color: dimgray;
    background-color: #FB6542;
    border: 3px solid #FFFFFF;
}

.theme-4 {
    margin-top: 260px;
    background-color: #07575B;
    border: 3px solid #C4DFE6;
}

.theme-5 {
    margin-top: 330px;
    background-color: #5C821A;
    border: 3px solid #FFFFFF;
}

.active-theme {
    box-shadow: 0px 0px 20px var(--grey);
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    border-color: var(--red);
    width: 50%;
}

canvas {
    display: block;
    position: fixed;
    z-index: -1;
}

#header {
    color: var(--off-white);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#registerBtn {
    position: relative;
    margin-bottom: 50px;
    background-color: var(--off-white);
    color: var(--red);
}

#registerBtn:hover {
    background-color: var(--grey);
}

#details {
    background-color: var(--off-white);
    padding: 80px 0px;
}

.section-title {
    padding: 10px;
    color: var(--red);
    background-color: var(--off-white);
    width: 100%;
}

.icon-section {
    padding: 40px;
}

.icon-section svg {
    margin-bottom: 20px;
    color: var(--off-white) !important;
    background-color: var(--red);
    height: 100px;
    width: 100px !important;
    border-radius: 100%;
}

.icon-holder svg{
    padding: 20px;
}

.divider:before {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;  /* or 100px */
  border-right:1px solid var(--grey);
}

.about-section {
    padding: 30px;
    background-color: #F3F3F3;
    z-index: 1;
    margin-bottom: 20px;
    filter: drop-shadow(16px 16px 20px var(--black));
}

.about-section h4 {
    color: var(--red);
}

#faq {
    padding-bottom: 80px;
    background-color: var(--off-white);
}

.question {
    padding: 10px 0px;
    width: 95%;
    overflow: hidden;
    max-height: 52px;
    -webkit-transition: max-height .5s, height .5s; /* Safari */
    transition: max-height .5s, height .5s;
}

.question:hover {
    max-height: 66px;
    cursor: pointer;
    transition: max-height .5s, height .5s;
}

.reveal-answer {
    max-height: 250px !important;
    -webkit-transition: max-height .5s, height .5s; /* Safari */
    transition: max-height .5s, height .5s;
}

.reveal-answer h4 {
    padding: 10px 0px;
}

.question h4 {
    padding-bottom: 10px;
    -webkit-transition: padding .5s; /* Safari */
    transition: padding .5s;
}

.question span {
    display: block;
    padding: 0px 10px;
    -webkit-transition: width .5s; /* Safari */
    transition: all 2s;
}

.question:hover h4{
    padding: 10px 0px;
}

.questions .question:nth-child(odd) {
    background-color: var(--red);
    color: var(--off-white);
}

.questions .question:nth-child(odd) h4 {
    color: var(--off-white);
}

.questions .question:nth-child(even) h4 {
    color: var(--red);
}

#footer {
    height: 200px;
    width: 100%;
    color: var(--off-white);
    background-color: var(--red);
}

#footer a {
    color: var(--off-white);
    position: absolute;
    left: 50%;
}

#footer .row {
    margin: 0;
}

/* For phones/tablets make logo occupy full width */

@media only screen and (max-width: 992px) {
    .divider:before {
        border-right: 0px;
    }
    .reveal-answer {
        max-height: 315px !important;
    }
}

@media only screen and (max-width: 550px) {
    .reveal-answer {
        max-height: 450px !important;
    }
}

@media only screen and (max-width: 480px) {
    .question {
        max-height: 45px;
    }
    
    .question:hover {
        max-height: 65px;
    }
    
    .question h4{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px) {
    .question {
        max-height: 40px;
    }
    
    .question:hover {
        max-height: 60px;
    }
    
    .question h4{
        font-size: 1rem;
    }
}

@media only screen and (max-width:340px) {
    .question {
        max-height: 36px;
    }
    
    .question:hover {
        max-height: 56px;
    }
    
    .question h4{
        font-size: .9rem;
    }
    
    .question span{
        font-size: .9rem;
    }
}
