body, html {
    height: 100%;
    background: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
}

span {
    color: white;
    font-family: Montserrat,sans-serif;
}

canvas {
    display: block;
    position: absolute;
}

.page {
    height: 100%;
    background-color: rgb(204, 0, 1);
    padding-left: 0px;
}

.wolf-logo {
    width: 100px;
    height: auto;
    position: fixed;
    margin: 50px;
}

.coming-date {
    font-size: 40px;
}

/* For phones/tablets make logo occupy full width */
@media only screen and (max-width: 767px){
    .offset-4 {
        margin-left: 16.666667%;
    }
}